@keyframes pulse1 {
  50% {
    transform: scale(2);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar .container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.navbar .container .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 16px;
  height: 60px;
}
.navbar .container .navbar-nav .navbar-logo .home h1 {
  color: #252525;
  font-weight: 600;
  font-size: 2rem;
}
.navbar .container .navbar-nav .desktop {
  display: none;
}
.navbar .container .navbar-nav .mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
  align-items: center;
  background-color: #fff;
  z-index: -5;
  transform: translateY(-100%);
  transition: transform 0.5s;
}
.navbar .container .navbar-nav .mobile--active {
  transform: translateY(0);
}
.navbar .container .navbar-nav .mobile .navbar-item {
  position: relative;
  color: #252525;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.5em;
}
.navbar .container .navbar-nav .mobile .navbar-item:focus {
  color: #00b1d8;
}

.nav-background {
  background-color: rgba(255, 255, 255, 0.6901960784);
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 28px;
  overflow: hidden;
}
header .background .blurred-gradient {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  filter: blur(34px);
  opacity: 0.7;
  z-index: -10;
}
header .background .gradient1 {
  position: absolute;
  top: 49%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: #a1eeff;
  z-index: -40;
  animation: pulse1 33s infinite linear;
}
header .background .gradient2 {
  position: absolute;
  top: 24%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #a1d2ff;
  z-index: -30;
  animation: pulse1 30s infinite linear;
}
header .background .gradient3 {
  position: absolute;
  top: 33%;
  left: 87%;
  transform: translate(-50%, -50%);
  background-color: #fecbff;
  z-index: -20;
  animation: pulse1 27s infinite linear;
}
header .header-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
}
header .header-text h2 {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 33px;
}
header .header-text p {
  font-weight: normal;
  font-size: 2rem;
}
header .header-arrow {
  position: absolute;
  top: 90%;
  left: 50%;
}
header .header-arrow i {
  font-size: 30px;
  color: black;
}

.myworks {
  width: 100%;
  height: 100vh;
}

.contact {
  width: 100%;
  height: 100vh;
}

.linkedin {
  width: 100%;
  height: 100vh;
}

@media (min-width: 996px) {
  .navbar .container .navbar-nav .hamburger {
    display: none;
  }
  .navbar .container .navbar-nav .desktop {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .navbar .container .navbar-nav .desktop .navbar-item {
    position: relative;
    padding-bottom: 2px;
    margin: 0 2em;
    transition: 0.3s;
  }
  .navbar .container .navbar-nav .desktop .navbar-item,
  .navbar .container .navbar-nav .desktop .navbar-item::after,
  .navbar .container .navbar-nav .desktop .navbar-item::before {
    transition: transform 0.3s;
  }
  .navbar .container .navbar-nav .desktop .navbar-item:focus {
    color: #00b1d8;
  }
  .navbar .container .navbar-nav .desktop .underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #252525;
    transform: scaleX(0);
    transform-origin: right;
  }
  .navbar .container .navbar-nav .desktop .underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}/*# sourceMappingURL=main.css.map */