@keyframes pulse1 {
  50% {
    top: 24%;
    left: 55%;
  }
}
@keyframes pulse2 {
  50% {
    top: 70%;
    left: 75%;
  }
}
@keyframes pulse2 {
  50% {
    top: 29%;
    left: 24%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar__container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 16px;
  height: 60px;
}
.navbar__h1 {
  color: #252525;
  font-weight: 600;
  font-size: 2rem;
}
.navbar--desktop {
  display: none;
}
.navbar--mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: -5;
  transform: translateY(-100%);
  transition: transform 300ms;
}
.navbar--active {
  transform: translateY(0);
}
.navbar__item {
  position: relative;
  color: #252525;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.5em;
}
.navbar__item:focus {
  color: #00b1d8;
}
.navbar--background {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 28px;
  overflow: hidden;
}
.header__blurredGradient {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  filter: blur(34px);
  opacity: 0.7;
  z-index: -10;
}
.header--gradient1 {
  position: absolute;
  top: 49%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: #a1eeff;
  z-index: -40;
  animation: pulse1 33s infinite linear;
}
.header--gradient2 {
  position: absolute;
  top: 24%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #a1d2ff;
  z-index: -30;
  animation: pulse2 30s infinite linear;
}
.header--gradient3 {
  position: absolute;
  top: 33%;
  left: 87%;
  transform: translate(-50%, -50%);
  background-color: #fecbff;
  z-index: -20;
  animation: pulse3 27s infinite linear;
}
.header__text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
}
.header__textStart {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 33px;
}
.header__p {
  font-weight: normal;
  font-size: 2rem;
}
.header__arrow {
  position: absolute;
  top: 90%;
  left: 50%;
}
.header i {
  font-size: 30px;
  color: black;
}

.myworks {
  width: 100%;
  height: 100vh;
}

.contact {
  width: 100%;
  height: 100vh;
}

.linkedin {
  width: 100%;
  height: 100vh;
}

@media (min-width: 996px) {
  .navbar .hamburger {
    display: none;
  }
  .navbar--desktop {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .navbar__item {
    position: relative;
    padding-bottom: 2px;
    margin: 0 2em;
    transition: 0.3s;
  }
  .navbar__item, .navbar__item::after, .navbar__item::before {
    transition: transform 0.3s;
  }
  .navbar__item:hover {
    color: #00b1d8;
  }
}/*# sourceMappingURL=main.css.map */