@keyframes pulse1 {
	0% {
	}

	50% {
		top: 24%;
		left: 55%;
	}
	100% {
	}
}
@keyframes pulse2 {
	0% {
	}

	50% {
		top: 70%;
		left: 75%;
	}
	100% {
	}
}
@keyframes pulse2 {
	0% {
	}

	50% {
		top: 29%;
		left: 24%;
	}
	100% {
	}
}
