$text-color: #252525;
$cta-color: #00b1d8;
$stroke-color: #599dac;
$white: #fff;
$white-opacity: #ffffffb0;
$black: #000;
$light-black: rgba(0, 0, 0, 0.1);
$gradient-lightblue: #a1eeff;
$gradient-blue: #a1d2ff;
$gradient-pink: #fecbff;
