@use './colors' as colors;
@use './animations' as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: colors.$white;
}

.section {
	scroll-margin-top: 60px;
}

// NAV

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	&__container {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1400px;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2.5em 1.6em;
		height: 60px;
	}

	&__h1 {
		color: colors.$text-color;
		font-weight: 600;
		font-size: 2rem;
	}

	&--desktop {
		display: none;
	}

	&--mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 230px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 1em;
		align-items: center;
		background-color: colors.$white-opacity;
		// border-bottom: 1px solid $light-black;
		z-index: -5;
		transform: translateY(-100%);
		transition: transform 300ms;
	}
	&--active {
		transform: translateY(0);
	}

	&__item {
		position: relative;
		color: colors.$text-color;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 0.5em;
	}

	&__item:focus {
		color: colors.$cta-color;
	}
	&--background {
		background-color: colors.$white-opacity;
		// border-bottom: 1px solid $light-black;
	}
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 2.5em 2.8em 0 2.8em;
	overflow-x: hidden;

	&__blurredGradient {
		width: 205px;
		height: 205px;
		border-radius: 50%;
		filter: blur(34px);
		opacity: 0.7;
		z-index: -10;
	}

	&--gradient1 {
		position: absolute;
		top: 49%;
		left: 54%;
		transform: translate(-50%, -50%);
		background-color: colors.$gradient-lightblue;
		z-index: -40;
		animation: pulse1 23s infinite linear;
	}
	&--gradient2 {
		position: absolute;
		top: 24%;
		left: 55%;
		transform: translate(-50%, -50%);
		background-color: colors.$gradient-blue;
		z-index: -30;
		animation: pulse2 20s infinite linear;
	}
	&--gradient3 {
		position: absolute;
		top: 33%;
		left: 87%;
		transform: translate(-50%, -50%);
		background-color: colors.$gradient-pink;
		z-index: -20;
		animation: pulse3 17s infinite linear;
	}

	&__text {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding-top: 2em;
	}
	&__textStart {
		font-weight: 600;
		font-size: 2.8rem;
		margin-bottom: 1em;
	}
	&__p {
		font-weight: normal;
		font-size: 1.8rem;
	}

	&__arrowIcon {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);

		animation: arrow 1.2s infinite linear;
	}
}

.myworks {
	width: 100%;
	height: 100vh;

	&__container {
		padding: 2.5em 2.8em 0 2.8em;
	}
	&__textStart {
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	&__boxes {
		display: grid;
		grid-template-columns: repeat(2, fr1);
		grid-template-rows: repeat(2, fr1);
	}

	&__box:nth-child(2n + 1) {
		width: 100px;
		height: 100px;
		background-color: lime;
	}
	&__box:nth-child(2n) {
		width: 100px;
		height: 100px;
		background-color: blue;
	}
}
.contact {
	width: 100%;
	height: 100vh;
	background-color: green;
}
.linkedin {
	width: 100%;
	height: 100vh;
}

@import './md';
@import './lg';
@import './xl';
